/*global*/
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;  margin: 0 auto;
  padding: 2rem;
  max-width: 700px;
  line-height: 1.6;
  background: #fafafa;
}

/*header*/
header {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2rem 0;
  border-bottom: 1px solid #ddd;
}

.profile-pic {
  width: 160px;
  object-fit: cover;
}

.icon {
  height: 16px;
  color: #383838;
}

/*typography*/
h1 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
}
section {
  color: #555555;
  margin-top: 2rem;
}
.intro {
  color: #555555;
  margin-top: 3rem;
  font-size: 1rem;
}


/*navigation*/
nav {
  margin-top: 0.5rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

/*links*/
a {
  color: #929292;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/*lists*/
ul {
  padding-left: 1.2rem;
}

li {
  margin-bottom: 0.5rem;
}

/*projects*/

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
  margin-top: 1rem;
}

.project-card{
  position: relative;
  display: block;
  overflow: hidden;
  

}

.project-card img {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
    object-position: center;
}

.project-card .overlay {
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.9);
  opacity: 0;
}

.project-card:hover .overlay {
  opacity: 1;
}

.project-card h4 {
  text-align: center;
  text-transform: capitalize;
  color: #333;
  margin-top: 0.5rem;
}

.project-card p {
  padding: 1rem;
  font-size: 0.9rem;
  color: #555;
}